<div class="flexcol">
    <div class="form-group">
        <label style="flex:1;">Default</label>
        <div class="form-fields" style="justify-content:flex-end;">
            <select style="flex: 3;" name="types.default.type">
                {{selectOptions bloodOptions valueAttr="id" labelAttr="name" localize=true selected=defaultType.type}}
            </select>
            <input class="color" type="text" name="types.default.color" value="{{ defaultType.color }}">
            <input type="color" value="{{ defaultType.color }}" data-edit="types.default.color">
        </div>
    </div>
    <hr style="margin: 0px;" />
    <div style="max-height: 500px; overflow-y: auto; overflow-x: hidden; margin-bottom: 10px;">
        {{#each types}}
        {{#unless this.default}}
        <div class="form-group" style="border-bottom: 1px solid rgb(201, 199, 184); ">
            <label style="flex:1;">{{this.label}}</label>
            <div class="form-fields" style="justify-content:flex-end;">
                <select style="flex: 3;" name="types.{{this.id}}.type">
                    <option value=""></option>
                    {{selectOptions ../bloodOptions valueAttr="id" labelAttr="name" localize=true selected=this.type}}
                </select>
                <color-picker name="types.{{this.id}}.color" value="{{ this.color }}" style="flex: 25px;">
            </div>
        </div>
        {{/unless}}
        {{/each}}
    </div>

    <footer class="sheet-footer flexrow" style="flex-grow:0;">
        <button type="button" name="reset" data-action="reset">
            <i class="fas fa-undo"></i> {{localize 'MonksBloodsplats.ResetDefaults'}}
        </button>
        <button type="submit" name="submit">
            <i class="fa-solid fa-floppy-disk"></i> {{localize 'MonksBloodsplats.SaveChanges'}}
        </button>
    </footer>
</div>